@charset "ISO-8859-1";

header {
	
	height: 100px;
}
body{
	background-color:#222;
}
h1{
	color: white;
}
h2{
	color:white;
}

input[type=submit]{
	
	height: 100%;
}


.vorschau{
	height: 170px;
}


.buttons {
	margin: 10%;
	text-align: center;
}
.btn-hover {
	width: 129px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:focus {
	outline: none;
}

.btn-hover.color-1 {
	background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
main {
	
	height: 600px;
}

#kate {
	float: left;
}

.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

.form__field {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.form__field::placeholder {
	color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #9b9b9b;
}

.form__field:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
}
#out{
	
	color:#fff;
}

.form__field:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: #11998e;
	font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
	box-shadow: none;
}
div.scrollPage {
	overflow: auto;
	height: 350px;
	width:700px;
}


#search {
	margin:auto;
	float: left;
	width: 200px;
}

#bild {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#innereinkauf {
	margin-left: 0;
	width: 300px;
	height: 330px;
	margin-left: 70px;
	
	padding: 15px;
	border-style: solid;
	border-width: 3px;
	border-image: linear-gradient(to right, #11998e, #38ef7d);
	border-image-slice: 1;
	background-color:#797c82;
	
	 
}

#hinzu {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tablette {
	width: 100%;
	height: 300px;
	color:white;
}
.ee{
	font-size:x-large;
	
	 @keyframes move {
	 50% {
		 padding-left: 8px;
		 padding-right: 0px;
	}
	 100% {
		 padding-right: 4px;
	}
}}

		@-webkit-keyframes {
}
@-webkit-keyframes extend {
    0% {
        width: 600px;
        height: 200px;
        border-radius: 100px;
        } 10% {
        width: 200px;
        height: 50px;
        background: #fff;
        } 20% {
        width: 600px;
        height: 200px;
        background: #03fc41;
        } 100% {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background: #03fc41;
        }
    }
@keyframes extend {
    0% {
        width: 200px;
        height: 50px;
        border-radius: 100px;
        } 10% {
        width: 200px;
        height: 50px;
        background: #fff;
        } 20% {
        width: 200px;
        height: 50px;
        background: #03fc41;
        } 100% {
        width: 200px;
        height: 50px;
        border-radius: 100px;
        background: #03fc41;
        }
    }
@-webkit-keyframes {
}
@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@-webkit-keyframes {
}
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }

input, .cont button, submit {
    border: none
    }
 
.cont {
 
    
   
    margin-left:100px;
    margin-right:150px;
    margin-top:30px;
    
	align-items: center;
	background-color: #2aa222 !important;
 
    }
 
.cont button {
    border-width: 1px;
    width: 200px;
    height: 50px;
    /*border-radius*/
    border-radius: 100px;
    background: #fff;
    position: absolute;
    border: 5px solid #6fb07f  box-shadow: inset 0 0 0 0 #03fc41;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
    }
 
.cont button > span {
    font-size: 18px;
    color: #6fb07f
    }
 
 
img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }
 
.cont button:hover{
      box-shadow: inset 0 0 0 50px #03fc41;
}
 
.cont button:hover > #span{
        color: white;     
}
 
.cont button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }
 
.cont button:focus > span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }
 
.cont button:focus > img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }
    
    
    
    
    
    
  #checklist {
	 --background: #797c82;
	 --text: #222;
	 --check: #4f29f0;
	 --disabled: #c3c8de;
	 
	 	 --border-radius: 10px;
	 background: var(--background);
	 
	 border-radius: var(--border-radius);
	 
	
	 
	
	 display: grid;
	 grid-template-columns: 30px auto;
	 align-items: center;
	 
	
}
 #checklist label {
	 color: var(--text);
	 
	 cursor: pointer;
	 display: grid;
	 align-items: center;
	
	 transition: color 0.3s ease;
}  
    
    
    
    
    
   
    
    
    
    
    
    
    
    

